<h3>Please update the details</h3>
<div>
  <form (ngSubmit)="update_plan(plan.id,plan)">

    <div>
      <label for="id">Plan Id</label>
      <input type="number" id="id" [(ngModel)]="plan.planId" name="id">
    </div>

    <div>
      <label for="id">Plan Name</label>
      <input type="text" id="planName" [(ngModel)]="plan.planName" name="planName">
    </div>
    <div>

      <label for="id">Price</label>
      <input type="number" id="planPrice" [(ngModel)]="plan.planPrice" name="planPrice">
    </div>
    <div>
      <label for="id">Plan Type</label>
      <div class="custom-control custom-radio mb-3">
        <input id="planType" class="custom-control-input" id="customRadio5" type="radio" name="plan" [(ngModel)]="plan.planType" value="PREPAID" checked> 
        <label class="custom-control-label" for="customRadio5">Prepaid</label> 
        <input id="planType" type="radio" name="plan" [(ngModel)]="plan.planType" value="POSTPAID"> Postpaid<br>
        </div>
    </div>
    <div>
      <label for="id">Validity</label>
      <input type="text" id="planValidity" [(ngModel)]="plan.planValidity" name="planValidity">
    </div>
    <button type="submit">UPDATE</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Plan is updated successfully!</h4>
</div>